include ../components.pug

doctype html
html(lang="fr")
    +drezzingHeader('Invitation à rejoindre DreZZing')
    body
        - var inviteLink = "https://admin.drezzing.fr/app/invite?token=" + data.token

        p Bonjour,
        p Vous avez été invité à rejoindre DreZZing, cliquez sur le lien ci-dessous pour accepter l'invitation :
        a(href=inviteLink) #{inviteLink}

        include ../footer.pug
