mixin drezzingHeader(title)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            body {
                font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
                padding: 4px;
                max-width: 700px;
                margin: auto;
            }
        title #{title}